<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="./assets/css/style.css" />
  <link rel="icon" type="image/x-icon" href="./assets/img/favicon.ico" />
  <title>Donate for Zachey</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />
</head>

<body>
  <div class="btn-container">
    <iframe width="100%" height="300" src="https://widget.qiwi.com/widgets/middle-widget-300x300?publicKey=48e7qUxn9T7RyYE1MVZswX1FRSbE6iyCj2gCRwwF3Dnh5XrasNTx3BGPiMsyXQFNKQhvukniQG8RTVhYm3iP3aBCDfSdLT53DUhnmNWaeZP8E2B8J1dszEtG4coi7BbhhFDZUUqW3orBFL5YhqM4d5829zZ1kFd9UftWQfUWJWPSKMZwD2sHufURswa6F" allowtransparency="true" scrolling="no" frameborder="0" style="text-align: center"></iframe>
  </div>

  <script src="/socket.io/socket.io.js"></script>
  <script src="./assets/js/main.js"></script>
</body>